# https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
# https://releases.llvm.org/11.0.0/tools/clang/tools/extra/docs/clang-tidy/checks/readability-identifier-naming.htm
# https://github.com/llvm/llvm-project/blob/master/.clang-tidy
# https://github.com/googleapis/google-cloud-cpp/blob/master/.clang-tidy
Checks: '-*,clang-diagnostic-*,llvm-*,misc-*,-misc-unused-parameters,-misc-non-private-member-variables-in-classes,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,            value: lower_case }
  - { key: readability-identifier-naming.TypeAliasCase,            value: Camel_Snake_Case }
  - { key: readability-identifier-naming.ClassCase,                value: CamelCase }
  - { key: readability-identifier-naming.StructCase,               value: CamelCase }
  - { key: readability-identifier-naming.TemplateParameterCase,    value: CamelCase }
  - { key: readability-identifier-naming.EnumCase,                 value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantCase,         value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,             value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,            value: aNy_CasE }
  - { key: readability-identifier-naming.MemberCase,               value: CamelCase }
  - { key: readability-identifier-naming.VariableCase,             value: aNy_CasE }
  - { key: readability-identifier-naming.LocalPointerCase,         value: camelBack }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.GlobalVariableCase,       value: CamelCase }
  - { key: readability-identifier-naming.GlobalFunctionCase,       value: camelBack }
  - { key: readability-identifier-naming.StaticConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.ConstantMemberCase,       value: CamelCase }
  - { key: readability-identifier-naming.IgnoreMainLikeFunctions,  value: 1 }
